[Unit]
Description=PoreRefiner nanopore management service
After=network.target

[Service]
Type=simple
SyslogIdentifier=porerefiner
# Another Type: forking
User=porerefiner
Group=porerefiner
WorkingDirectory=/home/porerefiner
ExecStart=/usr/bin/env python3.7 -m porerefiner.porerefiner -v start --config $POREREFINER_CONFIG
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
Environment=PYTHONUNBUFFERED=1
Environment=POREREFINER_CONFIG=$HOME/.porerefiner/config.yaml

[Install]
WantedBy=user.target
