[Unit]
Description=PoreRefiner nanopore management service
After=network.target

[Service]
Type=simple
SyslogIdentifier=porerefinerd
# Another Type: forking
# User=porerefiner
# Group=porerefiner
WorkingDirectory=/etc/porerefiner
ExecStart=/usr/local/bin/porerefinerd -v start --config $POREREFINER_CONFIG
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure
Environment=PYTHONUNBUFFERED=1
Environment=POREREFINER_CONFIG=/etc/porerefiner/config.yaml

[Install]
WantedBy=user.target
